@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

:root {
    --accent-color: 255, 195, 0;
    --background-color: 14,14,14;
    --load-in-animspeed: 1.8s;
}

* {
    user-select: none;
}

html {
    background-color: rgb(var(--background-color));
    /* background: linear-gradient(90deg, rgba(9,0,14,1) 0%, rgba(7,0,10,1) 50%, rgba(6,0,10,1) 100%); */
    background-size: cover;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    animation: firstLoad var(--load-in-animspeed) linear;
  }

#main {
    position: absolute;
    width: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: firstLoad var(--load-in-animspeed) linear;
}

/* #logoImg {
    position: fixed;
    right: 0%;
    background-color: rgba(9,9,9,0.1);
    border-left: 1px rgb(var(--accent-color)) solid;
    border-bottom: 1px rgb(var(--accent-color)) solid;
} */

#logoImg {
    position: absolute;
    left: 50%;
    /* bottom: 129%; */
    transform: translate(-50%, -333%);
    width: 60px;
    animation: firstLoad var(--load-in-animspeed) linear;
}

#capsuleTitle {
    position: absolute;
    font-size: 4em;
    color: white;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -0%);
    border-bottom: 1px rgb(var(--accent-color)) solid;
    cursor: default;
    animation: firstLoad var(--load-in-animspeed) linear;
}

#capsule {
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: linear-gradient(90deg, rgba(26, 1, 39, 0) 0%, rgba(var(--accent-color), 0.5) 50%, rgba(9,0,14,0) 100%);
    /* border: 1px rgb(0, 0, 0) solid; */
    border-radius: 20px;
    margin-bottom: 1em;
    padding: 1em;
}

#capsule:hover {
    animation: pulse 3s infinite;
}

#footer {
    position: fixed;
    bottom: 0%;
    font-size: 1em;
    color: white;
    width: 100%;
    background-color: rgba(9,9,9,1);
    border-top: 1px rgb(var(--accent-color)) solid;
    margin-left: -7px;
    padding: 0em 2em;
    animation: firstLoad var(--load-in-animspeed) linear;
}

#footerLink {
    margin-right: 1.5em;
}

#footerLinkRight {
    float: right;
    padding: 0em 3em;
}

@keyframes shake {
    0% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
    10% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    20% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }
}

@keyframes firstLoad {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

    50% {
		opacity: 0.3;
	}

	90% {
		opacity: 1;
	}
}
